.blue {
    background-color: lightblue;
}

.gray {
    background-color: lightgray;
}

.chat-role {
    max-width: fit-content;
}

.show-documents {
    max-width : fit-content;
}


.show-documents {
    background-color: lightgray;
}

.show-documents.hide-sources {
    background-color: darkgray;
}
