.blue {
    background-color: lightblue;
}

.gray {
    background-color: lightgray;
}

.chat-role {
    max-width: fit-content;
}

.show-documents {
    max-width : fit-content;
    font-size: small;
    padding: 4px 6px;
    transition: 0.2s;
}

.show-documents:hover {
    background-color: rgb(172, 172, 172);
}


.show-documents {
    background-color: lightgray;
}

.show-documents.hide-sources {
    background-color: darkgray;
}
